/* .gradient-custom-3 {
  /* background: #84fab0;
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), #8fd3f480);
  background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
} */
.error{
    color: red;
}
.success{
    color: green;
}
.Navbar-link li a {
text-emphasis-style: none;
text-decoration: none;

color: whitesmoke;
}
.Navbar-link li  {
  color: red;
  margin: 22px 22px;
  list-style: none;
}
.Navbar-link {
  color: red;

  
}
body {
  /* border: 2px solid red; */
}